<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TopPodcasts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F44EC8E62125C6B900DEB010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F44EC8FC2125C6BA00DEB010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F44EC9072125C6BA00DEB010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
